body{
    color: rgb(223, 114, 114);
    background: black;
    margin: 0;
    font-family: "stylesheet", serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 5px cornflowerblue;
    padding: 20px;
    font-size: 30px;
    color: rgb(151, 239, 245);
    
}

.one{
    background: rgb(22, 08, 40);
    padding-bottom: 75px;
    padding-top: 75px; 
    display: flex;
    justify-content: center ;
}

.kk-texto{
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p{
    font-size: 25px;
}

.recomendações{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.two{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;
}

.recomendações img{
    opacity: 0.5;
    height: 150px
}
.recomendações img:hover{
    opacity: 1.0;
     border: 1px solid rgb(8, 97, 8);
}

h2 {
    color: aquamarine;
}




